<a
  class="rounded-full flex justify-center items-center gap-x-2 
  py-2 px-4 
  bg-white/5 backdrop-blur-md 
  border border-transparent 
  text-white/90 text-lg font-medium
  bg-gradient-to-r from-[#6633ee]/20 to-[#22d3ee]/20 
  hover:from-[#6633ee]/30 hover:to-[#22d3ee]/30 
  hover:text-white
  transition-all duration-300 transform hover:scale-105 active:scale-100"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot></slot>
</a>
