---

// Supports weights 100-900
import '@fontsource-variable/onest';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
interface Props {
	title: string
}

const { title } = Astro.props as Props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;

	}
	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		
	}
	@media (prefers-reduce-motion: reduce) {
		html{
			scroll-behavior: auto;
		}
	}
	.profile-icon-wrapper {
		display: inline-block;
		border-radius: 9999px;
		padding: 2px;
		transition: box-shadow 0.3s, border-color 0.3s;
		box-shadow: 0 0 0 0px #22d3ee;
		border: 2px solid transparent;
	}
	.profile-icon-wrapper:hover {
		border: 2px solid transparent;
		box-shadow: 0 0 0 4px #a78bfa, 0 0 12px 2px #22d3ee;
		/* Degradado: podés usar border-image si querés más color */
	}
	nav a {
		position: relative;
		display: inline-block;
	}
	nav a span {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background: linear-gradient(90deg, #22d3ee 0%, #a78bfa 100%);
		transition: width 0.3s;
		display: block;
		content: "";
	}
	nav a:hover span {
		width: 100%;
	}
</style>
